* {
	font-family: 'Inconsolata', sans-serif;
}

h1 {
	margin-bottom: 2em;
}

p.bg-primary {
	padding: 15px;
}

ul.stuff-list {
	list-style: none;
	padding-left: 0px;
	margin: 0 auto;
	max-width: 400px;
}

ul li {
	box-shadow: 5px 5px 5px #ababab;
	transition: text-shadow 0.1s ease;
}

ul li:hover {
	padding-left: 2px;
	padding-top: 2px;
	text-shadow: 0px 0px 5px #fff;
	box-shadow: 3px 3px 3px #ababab;
}

ul li a > p {
	text-align: center;
	font-size: 1.75em;
}

ul li a > p > sup {
	font-size: .75em;
	padding-left: 2em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	/* change visited link colour*/
}